* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  color: rgba(255, 0, 0, 0.719);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 20px 5px rgb(226, 8, 8);
}

.innerContainer:hover {
  box-shadow: 0 16px 20px 5px rgb(0, 0, 0);
}
