.mainPremiumContainer {
  color: white;
  background-image: url("../logoImages//3D-luxury--black--mockup.png");
  background-size: cover;
  box-shadow: inset 0px 10px 10px 1px,
    inset 10px 2px 2px 1px rgba(255, 36, 36, 0.514),
    inset -10px -10px 10px 1px rgba(255, 36, 36, 0.514),
    inset -10px 10px 10px 1px rgba(255, 36, 36, 0.514);
  background-position-x: center;
  background-position-y: center;
}
