.store-container {
  width: 75vw;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .store-container {
    width: 45vw;
    padding: 0px 0p 50px 0px;
    margin-left: 17px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 760px) {
  .store-container {
    width: 55vw;
    margin-left: 50px;
  }
}
